@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9702 0 0);
  --foreground: oklch(0.3676 0.0205 64.1234);
  --card: oklch(0.9461 0 0);
  --card-foreground: oklch(0.3676 0.0205 64.1234);

  --primary: oklch(0.75 0.183 55.934);
  --primary-foreground: oklch(0.3676 0.0205 64.1234);
  --secondary: oklch(0.2478 0 0);
  --secondary-foreground: oklch(1 0 0);

  --accent: oklch(0.9219 0 0);
  --accent-foreground: oklch(0.3676 0.0205 64.1234);

  --border: oklch(0.3676 0.0205 64.1234);
  --radius: 1.25rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.12 0 0);
  --foreground: oklch(0.92 0.005 64.1234);
  --card: oklch(0.18 0 0);
  --card-foreground: oklch(0.92 0.005 64.1234);

  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.12 0 0);
  --secondary: oklch(0.8 0 0);
  --secondary-foreground: oklch(0.12 0 0);

  --accent: oklch(0.25 0 0);
  --accent-foreground: oklch(0.92 0.005 64.1234);

  --border: oklch(0.4 0.005 64.1234);
  --radius: 1.25rem;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);

  --font-sans: var(--font-orbitron-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border/40;
  }

  html,
  body {
    @apply size-full;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-sans), sans-serif;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }
}
