@import "tailwindcss";
@import "tw-animate-css";

:root {
  --white: oklch(1 0 0);
  --white-smoke: oklch(0.9702 0 0);
  --white-edgar: oklch(0.9461 0 0);
  --legendary: oklch(0.7983 0.0187 64.87);
  --ancient-lavastone: oklch(0.3676 0.0205 64.12);
  --lead: oklch(0.2478 0 0);
  --boredom-buster: oklch(0.7627 0.156 50.21);

  --background: var(--white-smoke);
  --foreground: var(--ancient-lavastone);

  --primary: var(--boredom-buster);
  --primary-foreground: var(--white);

  --secondary: var(--lead);
  --secondary-foreground: var(--white);

  --card: var(--white-edgar);
  --card-foreground: var(--ancient-lavastone);

  --radius: 1.25rem;
  --spacing: 0.25rem;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-orbitron-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html,
  body {
    @apply size-full;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-sans), sans-serif;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }
}
